
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-585902916183786331.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-585902916183786331.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-585902916183786331.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-585902916183786331.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-585902916183786331.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-585902916183786331.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-585902916183786331.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-585902916183786331.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-585902916183786331.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-585902916183786331.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-585902916183786331.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-585902916183786331.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-585902916183786331.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-585902916183786331.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-585902916183786331.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-585902916183786331.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-585902916183786331.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-585902916183786331.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-585902916183786331.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-585902916183786331.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-585902916183786331.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-585902916183786331.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-585902916183786331.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-585902916183786331.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-585902916183786331.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-585902916183786331.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-585902916183786331.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-585902916183786331.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-585902916183786331.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-585902916183786331.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-585902916183786331.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-585902916183786331.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-585902916183786331.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-585902916183786331.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-585902916183786331.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-585902916183786331.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-585902916183786331.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-585902916183786331.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-585902916183786331.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-585902916183786331.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-585902916183786331.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-585902916183786331.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-585902916183786331.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-585902916183786331.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-585902916183786331.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-585902916183786331.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-585902916183786331.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-585902916183786331.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-585902916183786331.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-585902916183786331.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-585902916183786331.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-585902916183786331.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-585902916183786331.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-585902916183786331.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-585902916183786331.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-585902916183786331.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-585902916183786331.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-585902916183786331.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-585902916183786331.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-585902916183786331.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-585902916183786331.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-585902916183786331.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-585902916183786331.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-585902916183786331.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-585902916183786331.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-585902916183786331.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-585902916183786331.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-585902916183786331.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-585902916183786331.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-585902916183786331.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-585902916183786331.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-585902916183786331.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-585902916183786331.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-585902916183786331.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-585902916183786331.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-585902916183786331.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-585902916183786331.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-585902916183786331.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-585902916183786331.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-585902916183786331.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-585902916183786331.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-585902916183786331.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-585902916183786331 .\!gp-relative{position:relative!important}.gps-585902916183786331 .gp-relative{position:relative}.gps-585902916183786331 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-585902916183786331 .gp-mb-0{margin-bottom:0}.gps-585902916183786331 .gp-flex{display:flex}.gps-585902916183786331 .gp-inline-flex{display:inline-flex}.gps-585902916183786331 .gp-grid{display:grid}.gps-585902916183786331 .\!gp-hidden{display:none!important}.gps-585902916183786331 .gp-hidden{display:none}.gps-585902916183786331 .gp-h-full{height:100%}.gps-585902916183786331 .gp-w-\[0\.01px\]{width:.01px}.gps-585902916183786331 .gp-w-full{width:100%}.gps-585902916183786331 .gp-max-w-full{max-width:100%}.gps-585902916183786331 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-585902916183786331 .gp-flex-col{flex-direction:column}.gps-585902916183786331 .gp-items-center{align-items:center}.gps-585902916183786331 .gp-justify-center{justify-content:center}.gps-585902916183786331 .gp-overflow-hidden{overflow:hidden}.gps-585902916183786331 .gp-leading-\[0\]{line-height:0}.gps-585902916183786331 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585902916183786331 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585902916183786331 .gp-duration-200{transition-duration:.2s}.gps-585902916183786331 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-585902916183786331 .tablet\:\!gp-hidden{display:none!important}.gps-585902916183786331 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-585902916183786331 .mobile\:\!gp-hidden{display:none!important}.gps-585902916183786331 .mobile\:gp-hidden{display:none}}.gps-585902916183786331 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-585902916183786331 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-585902916183786331 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-585902916183786331 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-585902916183786331 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-585902916183786331 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-585902916183786331 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#795837","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gbdtQ7MnvG"}' data-id="gbdtQ7MnvG" id="gbdtQ7MnvG" data-same-height-subgrid-container class="gbdtQ7MnvG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:14px;--pl:0px;--pb:14px;--pr:0px;--pt-tablet:14px;--pl-tablet:0px;--pb-tablet:14px;--pr-tablet:0px;--pt-mobile:14px;--pl-mobile:0px;--pb-mobile:14px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#795837;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYfTyutPBD gp-relative gp-flex gp-flex-col"
    >
      
  <script src="https://assets.gemcommerce.com/assets-v2/gp-marquee-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee data-id="gxqFha1Vph" gp-data='{"setting":{"childItem":["Item 3","Item 2","Item 3"],"itemWidthType":{"desktop":"FIT_CONTENT","tablet":"FIT_CONTENT","mobile":"FIT_CONTENT"},"activeItem":"0","hoverItem":"0","isShowIconSeparator":true,"iconSeparatorSvg":"<svg height=\"20px\" width=\"20px\" data-name=\"dot-outline-filled\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817731477569896\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z\"></path></svg>","stopOnHover":true,"speed":"0.2","direction":"left","isPreview":false,"hasItemShadow":false,"uid":"gxqFha1Vph"},"styles":{"itemSpacing":{"desktop":"25px"},"itemMaxWidth":{"desktop":"300px","tablet":"300px","mobile":"150px"},"iconSeparatorSize":{"desktop":16},"iconSeparatorColor":"#FFFFFF","sizeSetting":{"desktop":{"shapeLinked":false,"width":"100%","height":"Auto"}},"itemBorderStyle":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false,"color":"#000000"},"itemCorner":{"radiusType":"none"},"itemBackgroundColor":{"desktop":"transparent"},"backgroundColor":{"desktop":"transparent"},"align":{"desktop":"center"}}}'
   class="gxqFha1Vph">
   <div class="gp-flex gp-w-full gp-relative" style="--jc:center">
      <div class="!gp-relative" style="--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--bg:transparent">
         <div class="gem-marquee gp-overflow-hidden gp-flex gp-items-center gp-w-full gp-h-full gxqFha1Vph">
            <div class="gp-overflow-hidden gp-w-full gp-h-full">
               
  <div style="--pause-on-hover:paused;--pause-on-click:paused;--width:100%;--transform:none;min-width:100%" class="rfm-marquee-container">
    <div class="rfm-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto">
      <div class="rfm-initial-child-container">
        
        <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
          
               <div class="gp-flex gp-items-center gp-marque-child-item gem-child-marquee-item gp-w-full">
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  ge3m2NE9RE gem-marquee-item-ge3m2NE9RE"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    

    

    
    <gp-row gp-data='{"uid":"gU31cvlwj1"}' data-id="gU31cvlwj1" id="gU31cvlwj1" data-same-height-subgrid-container class="gU31cvlwj1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:6px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gwtwj9hNKk gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gZ39LfnOVo" class="gp-leading-[0] gZ39LfnOVo" style="--mb:5px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="gZ39LfnOVo" class="icon-wrapper gp-inline-flex gp-overflow-hidden gZ39LfnOVo " style="--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:22px;--w-tablet:22px;--w-mobile:22px;--h:22px;--h-tablet:22px;--h-mobile:22px;--minw:22px;--minw-tablet:22px;--minw-mobile:22px;--height-desktop:22px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="repeat-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817645679870312">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M26,128A70.08,70.08,0,0,1,96,58H209.51L195.76,44.24a6,6,0,0,1,8.48-8.48l24,24a6,6,0,0,1,0,8.48l-24,24a6,6,0,0,1-8.48-8.48L209.51,70H96a58.07,58.07,0,0,0-58,58,6,6,0,0,1-12,0Zm198-6a6,6,0,0,0-6,6,58.07,58.07,0,0,1-58,58H46.49l13.75-13.76a6,6,0,0,0-8.48-8.48l-24,24a6,6,0,0,0,0,8.48l24,24a6,6,0,0,0,8.48-8.48L46.49,198H160a70.08,70.08,0,0,0,70-70A6,6,0,0,0,224,122Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gdWc-yR6Ag gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gls4uUnhCr"
        class="gls4uUnhCr"
        style="--ta:left;--pt:8px;--pb:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759385806489"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:Inter, var(--g-font-body);--weight:500;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:140%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggls4uUnhCr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
                     <span style="--c:#FFFFFF;--ml:25px;--ml-tablet:25px;--ml-mobile:25px;--mr:25px;--mr-tablet:25px;--mr-mobile:25px;--h:16px;--h-tablet:16px;--h-mobile:16px;--w:16px;--w-tablet:16px;--w-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="20px" width="20px" data-name="dot-outline-filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817731477569896">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z"></path></svg>
                     </span>
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gSc6jEyZ2r gem-marquee-item-gSc6jEyZ2r"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    

    

    
    <gp-row gp-data='{"uid":"g-gILca8V0"}' data-id="g-gILca8V0" id="g-gILca8V0" data-same-height-subgrid-container class="g-gILca8V0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:6px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g6z-iBkxw4 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g0d4Sxripb" class="gp-leading-[0] g0d4Sxripb" style="--mb:5px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="g0d4Sxripb" class="icon-wrapper gp-inline-flex gp-overflow-hidden g0d4Sxripb " style="--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:22px;--w-tablet:22px;--w-mobile:22px;--h:22px;--h-tablet:22px;--h-mobile:22px;--minw:22px;--minw-tablet:22px;--minw-mobile:22px;--height-desktop:22px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="shield-checkered-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817649803723112">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208,42H48A14,14,0,0,0,34,56v56c0,51.94,25.12,83.4,46.2,100.64,22.73,18.6,45.27,24.89,46.22,25.15a6,6,0,0,0,3.16,0c.95-.26,23.49-6.55,46.22-25.15C196.88,195.4,222,163.94,222,112V56A14,14,0,0,0,208,42Zm2,14v56c0,3.39-.12,6.72-.34,10H134V54h74A2,2,0,0,1,210,56ZM46,56a2,2,0,0,1,2-2h74v68H46.34c-.22-3.28-.34-6.61-.34-10Zm1.71,78H122v89.52a133.13,133.13,0,0,1-34.56-20.46C65.5,185,52.2,161.8,47.71,134Zm120.85,69.06A133.13,133.13,0,0,1,134,223.52V134h74.29C203.8,161.8,190.5,185,168.56,203.06Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gnyYnL2khu gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLl23guCOp"
        class="gLl23guCOp"
        style="--ta:left;--pt:0px;--pl:0px;--pb:4px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:4px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:4px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759385806493"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:Inter, var(--g-font-body);--weight:500;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLl23guCOp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
                     <span style="--c:#FFFFFF;--ml:25px;--ml-tablet:25px;--ml-mobile:25px;--mr:25px;--mr-tablet:25px;--mr-mobile:25px;--h:16px;--h-tablet:16px;--h-mobile:16px;--w:16px;--w-tablet:16px;--w-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="20px" width="20px" data-name="dot-outline-filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817731477569896">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z"></path></svg>
                     </span>
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gYaavmHa-Q gem-marquee-item-gYaavmHa-Q"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    

    

    
    <gp-row gp-data='{"uid":"gjYM4RnOuZ"}' data-id="gjYM4RnOuZ" id="gjYM4RnOuZ" data-same-height-subgrid-container class="gjYM4RnOuZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:6px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gjsZsNXgL9 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gl6Hhz_FdQ" class="gp-leading-[0] gl6Hhz_FdQ" style="--mb:5px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="gl6Hhz_FdQ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gl6Hhz_FdQ " style="--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:22px;--w-tablet:22px;--w-mobile:22px;--h:22px;--h-tablet:22px;--h-mobile:22px;--minw:22px;--minw-tablet:22px;--minw-mobile:22px;--height-desktop:22px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="coffee-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817619857637736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M82,56V24a6,6,0,0,1,12,0V56a6,6,0,0,1-12,0Zm38,6a6,6,0,0,0,6-6V24a6,6,0,0,0-12,0V56A6,6,0,0,0,120,62Zm32,0a6,6,0,0,0,6-6V24a6,6,0,0,0-12,0V56A6,6,0,0,0,152,62Zm94,58v8a38,38,0,0,1-36.94,38,94.55,94.55,0,0,1-31.13,44H208a6,6,0,0,1,0,12H32a6,6,0,0,1,0-12H62.07A94.34,94.34,0,0,1,26,136V88a6,6,0,0,1,6-6H208A38,38,0,0,1,246,120Zm-44,16V94H38v42a82.27,82.27,0,0,0,46.67,74h70.66A82.27,82.27,0,0,0,202,136Zm32-16a26,26,0,0,0-20-25.29V136a93.18,93.18,0,0,1-1.69,17.64A26,26,0,0,0,234,128Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gEU0jZMDg4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDwGbgyJI-"
        class="gDwGbgyJI-"
        style="--ta:left;--pt:8px;--pb:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759385806497"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:Inter, var(--g-font-body);--weight:500;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:140%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDwGbgyJI-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
                     <span style="--c:#FFFFFF;--ml:25px;--ml-tablet:25px;--ml-mobile:25px;--mr:25px;--mr-tablet:25px;--mr-mobile:25px;--h:16px;--h-tablet:16px;--h-mobile:16px;--w:16px;--w-tablet:16px;--w-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="20px" width="20px" data-name="dot-outline-filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817731477569896">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z"></path></svg>
                     </span>
                  </div>
                  
               </div>
               
        </div>
        
      </div>
    </div>
    <div class="rfm-marquee placeholder-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"></div>
  </div>
  
            </div>
         </div>
      </div>
   </div>
</gp-marquee>

    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-585902916183786331 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/auroracafe-desarrollo/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=585902021102535453&sectionId=585902916183786331)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggls4uUnhCr_text","label":"ggls4uUnhCr_text","default":"<p>Compatible con cualquier café y leche</p>"},{"type":"html","id":"ggLl23guCOp_text","label":"ggLl23guCOp_text","default":"<p>6 meses de garantía</p>"},{"type":"html","id":"ggDwGbgyJI-_text","label":"ggDwGbgyJI-_text","default":"<p>Prepara hasta 50 tazas/día</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  